{% assign nav_count = item.sub_navs | size %}
<div x-show="open" x-cloak class="caret">
	<div class="shadow-menu bg-white grid grid-cols-{{ nav_count }} justify-center right-0 left-0 absolute mt-4 pb-6 z-30 px-10 border-t border-t-cloudinary/[.15]">
		{% for sub_nav in item.sub_navs %}
			<div class="py-5 mx-4">
				<div class="uppercase text-gray-600 text-xs tracking-[.25em] pb-4">{{ sub_nav.title }}</div>
				{% for sub_item in sub_nav.sub_nav %}
					{% if sub_item.link %}
						<a 
							href="{{ sub_item.link }}" 
							class="block py-2 group">
							<div class="flex">
								{% if sub_item.icon_path %}
									{% assign icon_path = "/src/images/icons/" | append: sub_item.icon_path | append: ".svg" %}
									<span class="w-6 relative block transition [&>*]:stroke-{{ sub_item.nav_icon_color }}">{{  icon_path | svgContents }}</span>
								{% endif %}
								{% if sub_item.name %}
									<div class="flex-1 pl-4">
										<div class="text-base font-semibold whitespace-nowrap {% if sub_item.link == '' %}line-through{% endif %}">
											{{ sub_item.name }}
											<span class="w-4 inline-block">
												<span class="hidden translate-y-1 transition group-hover:translate-x-1 group-hover:inline-block w-full">
													{{ "/src/images/icons/solid/arrow-right.svg" | svgContents }}
												</span>
											</span>
										</div>
									{% endif %}
									{% if sub_item.description %}
										<div class="text-nimbus text-sm group-hover:text-gray-900 transition max-w-[250px]">{{ sub_item.description }}</div>
									{% endif %}
								</div>
							</div>
						</a>
					{% endif %}
				{% endfor %}
				{% for sub_item in sub_nav.sub_card %}
					{% if sub_item.featured_page_link %}
						<a 
							href="{{ sub_item.featured_page_link }}" 
							class="block p-2 group border border-carbon rounded-lg hover:scale-105 transition">
							<div class="flex"> 
								<div class="flex-1">
									{% assign pages = collections.all %}
									{% for page in pages %}
										{% if page.url == sub_item.featured_page_link %}
											
											{% if sub_item.image.image_path %}
												{% assign image_path = sub_item.image.image_path %}
											{% else %}
												{% if page.data.image.path %}
													{% assign image_path = page.data.image.path  %}
													{% assign image_alt = page.data.image.alt %}													
												{% else %}
													{% assign image_path = page.data.image %}
												{% endif %}
											{% endif %}	
											{% bookshop "helpers/image" image: image_path alt: person.data.name width: 500 responsive: false classes: 'rounded-lg object-cover min-h-[138px] min-w-full' %}
											<div class="text-base font-semibold pt-4 pb-1">
												{% if sub_item.name %}
													{{ sub_item.name }}
												{% else %}
													{{ page.data.title }}
												{% endif %}
											</div>
										{% endif %}
									{% endfor %}
									<div class="font-bold bottom-5 text-cloudinary transition">
										<span class="group-hover:underline">Learn more</span>
										<span class="inline-block w-4 relative top-[3px] outline-cloudinary ml-1">
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
												<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
											</svg>
										</span>
									</div>
								</div>
							</div>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>
