<div class="flex flex-wrap">
	{% for links in footer-columns %}
		<div class="flex-1 mt-10 px-4">
			<div class="font-bold mb-3">{{ links.title }}</div>
			<ul class="">
				{% for item in links.items %}
				<li class="mt-2">
					<a
						href="{{ item.url }}"
						class="hover:text-carbon text-gray-600"
						{% if item.open_in_new_tab %}
							target="_blank"
							rel="noopener"
						{% endif %}
						>
						{{ item.title }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</div>