<div class="macbook">
	<div class="screen">
		<div class="viewport">
			{% if link %}
				<a href="{{ link }}" target="_blank" class="[&_img]:hover:blur-sm [&_img]:duration-1000 [&_img]:transition-all after:opacity-0 hover:after:opacity-100 after:transition-all after:content-['Visit_site'] after:bg-white/90 after:rounded-full after:text-cloudinary after:absolute after:left-1/2 after:top-1/2 after:-translate-x-1/2 after:-translate-y-1/2 after:p-4">
			{% endif %}
			{% bookshop 'helpers/image' image: image alt: alt responsive: true width: 630 height: 395 %}
			{% if link %}
				</a>
			{% endif %}
		</div>
	</div>
	<div class="base"></div>
	<div class="notch"></div>
</div>